* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(56, 3, 29), rgb(248, 200, 231));
  /* background:
    radial-gradient(circle at 20% 20%, #d98bcf, transparent 35%),
    radial-gradient(circle at 80% 70%, #7d5bb5, transparent 40%),
    linear-gradient(135deg, #b96bbd, #6250a3); */
  /* background-color: black; */
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diary-cover {
  width: min(92vw, 800px);
  aspect-ratio: 3 / 2;

  border-radius: 12px;
  border: 0.1px solid rgb(248, 200, 231);
  padding: 10px;

  /* background: #5c315f; */
  background-color: #802357;
  /* background-color: white;
  border: 2px solid #5c315f; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-arrow {
  border: none;
  background: none;
  margin: 10px;

  color: white;
  font-size: 15px;

  cursor: pointer;
  padding: 10px;
}

.diary {
  width: 100%;
  height: 100%;
  /* background-color: rgb(105, 105, 73); */
  background-color: rgb(249, 216, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 5px;

  position: relative;
  overflow: hidden;
}

.diary::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("./assets/page_texture.png");
  background-repeat: repeat;
  opacity: 0.03;

  pointer-events: none;
}

.diary-header {
  width: 100%;
  height: 10%;
  font-family: "Indie Flower", cursive;
  /* font-weight: 600; */
  border-bottom: 1px dotted rgb(236, 26, 162);
  background-color: #87456b;
  color: white;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
}

.diary-pages {
  width: 100%;
  height: 90%;
  background-color: rgb(236, 26, 162);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #87456b;
  border-left: 2px solid #87456b;
}

.page {
  width: 50%;
  height: 100%;
  /* background-color: rgb(200, 200, 139); */
  border: 1px solid #cb97c5;
  /* background: #f4ecd8; */
  color: #841855;
  background-color: rgb(248, 200, 231);
}

.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page-middle {
  width: 100%;
  height: 90%;
  overflow: hidden;
  padding: 0px 5px;
  /* background-color: #5c315f; */

  background-image: repeating-linear-gradient(to bottom,
      transparent 0px,
      transparent 25px,
      #a05c97 26px);
}

.page-footer {
  width: 100%;
  height: 10%;
  background-color: #87456b;
  color: white;
  padding: 10px 5px;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.journal-input {
  width: 100%;
  height: 100%;
  overflow: hidden;

  border: none;
  outline: none;
  resize: none;
  background: transparent;

  font-family: "Caveat", cursive;
  font-size: 22px;
  color: #841855;
  line-height: 26px;
}